.BoxFooter{
    background-color: #2e5868;
    padding: 3em;
    margin-top: 5%;
    text-align: center;
}
.devTitulo{
    color: #FEFDDE;
    max-height: 20px;
    font-size: 1.8em;
}
.linkFooter{
    display: block;
    color: #FFEFA5;
    font-size: 1.5em;
    text-decoration: none;
}