.BoxFooter{
    background-color: #73BD51;
    padding: 3em;
    margin-top: 5%;
    text-align: center;
}
.devTitulo{
    color: #250569;
    max-height: 20px;
    font-size: 1.8em;
}
.linkFooter{
    display: block;
    color: #250569;
    font-size: 1.5em;
    text-decoration: none;
}