.box{
   width: 100vw;
}
.boxLogo{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
   display: none;
}
.LinkHeather{
    text-decoration: none;
    color: black;
}
@media screen and (min-width: 992px) {
    .logo{
        position: relative;
        display: block;
        width: 50px;
    }
    .LinkHeather{
        margin-left: -100px;
    }
  }