.banner{
    width: 100vw;
    background-color: #7ED158;
}
.boxBanner{
    display: grid;
    align-items: center;
}
.tituloBanner{
    text-align: center;
}
.textoBanner{
    margin: 5%;
}
.ContainerImgBanner{
    width: 100vw;
    text-align: center;
    padding-bottom: 5%;
}
.imgBannerPrincipal{
    width: 250px;
}
@media screen and (min-width: 992px) {
    .imgBannerPrincipal{
        width: 350px;
    }
    .banner {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    .boxBanner{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80vw;
        margin: auto;
    }
    .tituloBanner{
        font-size: 2em;
    }
    .textoBanner{
        font-size: 1.1em;
    }
}