.Capsula{
    overflow-x: hidden;
}
.boxMapa{
    width: 80vw;
    margin: auto;
    display: grid;
    text-align: center;
}
.Mapa45{
    border: none;
    max-width: 200px;
    max-height: 150px;
}
.boxInformacoes{
    max-width: 80vw;
    margin: auto;
}
@media screen and (min-width: 992px) {
    .Mapa45{
        min-width: 600px;
        min-height: 450px;
    }
  }